/* popup menu */
.popup {
    display: flex;
    width: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    background-color: var(--main-color);
    padding-top: 125px;
    transition: 500ms ease-in-out;
    opacity: 0;
    overflow: hidden;
  }

  /* Active class */
  .popup.active {
    left: 0;
    visibility: visible;
    opacity: 1;
  }
  
  /* Close btn */
  .popup .close {
    position: absolute;
    font-size: 36px;
  }
  
  /* Icône burger */
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }

  FontAwesomeIcon{
    font-size: 5rem;
  }